.App {
  text-align: center;
}
.default-cursor {
  cursor: default !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.big {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20rem;
  animation-name: stretch;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


@keyframes stretch {
  0% {

    opacity: 0.2;
    background-color: green;
    border-radius: 100%;
  }

  50% {
    background-color: orange;
  }

  100% {
    transform: scale(2.0);
    background-color: red;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}